@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root{
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
    --Linear135degfrom: hsl(0, 0%, 100%), to hsl(0, 100%, 98%); 
    --Linear13degfrom: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}
header {
    display: inline-block;
    height: 60px;
}

.logo {
    height: 50px;
    padding: 15px 44px;
}
.imagem {
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}
.imagem img{
    width: 100%;
    height: 100%;
}
.contener {
    display: flex;
    text-align: center;
}
.text {
    line-height: 20px;
    
}
.text h1 {
    letter-spacing: 10px;
    font-size: 45px;
    line-height: 40px;
    
}
.text p {
    margin-top: 10px;
    margin-bottom: 30px;
}
.cor {
    color: hsl(0, 80%, 86%);
    font-weight:lighter;
}
.botao {
    border:1px solid hsl(0, 80%, 86%);
    width:300px;
    border-radius: 30px;
    color: hsl(0, 80%, 86%);
    border-color: hsl(0, 80%, 86%);
    text-align: left;
    margin: auto;
    margin-bottom: 50px;  
}
.botao input{
    display: inline-block;
    outline: none;
    border: 0;
    width:220px;
    padding: 15px ;
    border-radius: 30px;
    
}
input::placeholder {
    color: hsl(0, 80%, 86%);
  }
.button {
    border: none;
    float: right;
    height: 45px;
    width: 70px;
    border-radius: 30px;
    color: white;
    background-color:hsl(0, 80%, 86%);
    font-size: 30px;
    transition: 300ms ease-in-out;
}

.button:hover {
    box-shadow: 5px 3px 3px hsl(0, 67%, 90%);
    transform: scale(1.2);
    cursor: pointer;
}


@media (min-width:1120px) {
    .man-wapper{
        display: inline-block;
        width: 100%;
        height: 100vh;
       
    }

    header {
        display: inline-flex;
        height: 60px;
        width: 40%;
        padding: 50px;
        margin-left: 111px;
       
    }

    header img{
        height: auto;
        width: auto; 
    }
    
    .logo {
        margin: auto;
        height: auto;
        padding: 0;
    }  
    .imagem {
        height: 99.3%;
        width: auto;
        float: right;
        margin: 0;
    }
    .contener {
        display: flex;
        text-align: left;
        height: auto;
        width: 20%;
        margin: auto;
        margin-top: 10%;
        margin-bottom:0px;
    }
    .text h1 {
        letter-spacing: 20px;
        font-size: 65px;
        line-height: 70px;
    }
    p{
        font-size: 17px;
    }
    .botao {
        width:400px;
        text-align: left;
        margin: auto;
        
    }
    .botao input{
        width:320px;
        
    }
}
.attribution {
    display: none;
     font-size: 11px;
     text-align: center; 
    }
.attribution a { color: hsl(228, 45%, 44%); }
